
.navbar {
    padding: 1.5rem 1rem;
  }
  

  .navbar-brand,
  .nav-link {
    font-size: 1.25rem; 
  }
  

  .form-control {
    height: calc(2.5rem + 2px);
    font-size: 1.25rem;
  }
  
  .btn {
    height: calc(2.5rem + 2px);
    font-size: 1.25rem;
  }
  

  .navbar-nav-scroll {
    --bs-scroll-height: 200px; 
  }
  